body {
    overflow: auto;
}

.rooms {
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
}

.chatapp {
    display: flex;
    width: 1000px;
    border-left: 3px inset black;
    border-right: 3px inset black;
}

.interface {
    background-color: rgba(47, 65, 91, 1);
}

.infoRow {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 10px;
}

.chatRow {
    height: 50px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.chatImage {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: white;
    margin-right: 10px;
}

.chatImagePlaceholder {
    display: table-cell;
    background-color: gray;
    text-align: center;
    color: white;
    vertical-align: middle;
}

.rowText {
    color: white;
    text-align: center;
    width: 80%;
}

.noMessagesText {
    color: white;
    text-align: center;
}

.chatBorder {
    border-right: 3px inset black;
}

.chats {
    width: 30%;
}

.profileBorder {
    border-bottom: 3px inset black;
}

.toolsBorder {
    border-top: 3px inset black;
}

.active {
    background-color: rgba(48, 113, 206, 1);
}

/* скролл */

.customScroll::-webkit-scrollbar {
    width: 10px;
}
  
.customScroll::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: rgba(47, 65, 91, 1);
}

.customScroll::-webkit-scrollbar-thumb {
    background-color: #356184;
    background-image: -webkit-gradient(linear, 0 0, 0 100%,
                    color-stop(.5, rgba(255, 255, 255, .25)),
                    color-stop(.5, transparent), to(transparent));
}

/* сообщения */

.messagesList {
    background-color: rgba(24, 38, 58, 1);
    overflow-y: auto;
    min-height: 50%;
    padding: 0px 0px 3% 3%;
    width: 97%;
}

.message{
    padding: 0px 20px 0px 20px;
    background-color: rgba(47, 65, 91, 1);
    color: white;
    border-radius: 20px;
    margin: 10px 10px 0 0;
    max-width: 50%;
    overflow-wrap: break-word;
}

.wrapperMessages {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(24, 38, 58, 1);
}

.messages {
    width: 70%;
}

.messageDate {
    margin-right: 20px;
    color: white;
}

.messageSender {
    margin-top: 2px;
    margin-bottom: 2px; 

}

.messageText {
    margin-top: 1px;
    margin-bottom: 6px;
}

.currentUserMessage {
    background-color: rgba(48, 113, 206, 1);
}

.chatList {
    overflow-y: auto;
    min-height: 50px;
    height: 80%;
}

.messageBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputRow {
    width: 100%;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 11%;
    max-height: 20%;
    align-self: flex-end;
    background-color: rgba(47, 65, 91, 1);
}

.messageInput {
    width: 75%;
    margin-right: 20px;
    min-height: 35px;
    max-height: 80%;
    overflow-y: auto;
    border-bottom: 3px solid rgba(24, 38, 58, 1);
}


/* тут с последним классом происходит какое то перекрытие, я не знаю с чем это связано */